#register-stories-container {
    width: 100%;
    height: 80px;

    background-color: #AEE8CE;
}
.register-story-container {
    width: 45px;
    height: 45px;
    margin-left: 18px !important;
    border: 1px solid black;
    border-radius: 50%;
}