* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}
.container {
    width: auto !important;
}

//
// GLOBAL CLASSES
//

.rOw {
    display: flex;
    flex-direction: row;
}
.coL {
    display: flex;
    flex-direction: column;
}
.align-center {
    align-items: center;
}
.space-Evenly {
    justify-content: space-evenly;
}
.betWeen {
    justify-content: space-between;
}

//
// GENERAL FONTS
// 

svg {
    font-size: 1.5em;
}
.profile-icon {
    padding: 2px !important;
    border: 1px solid black;
    border-radius: 50%;
}